@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem de Usuarios";
}




 @if(TempData["MensagemSucesso"] != null)
    {
         <div class="alert alert-success" role="alert">
   @TempData["MensagemSucesso"]
      </div>
    }
   
    @if(TempData["MensagemErro"]!= null)
    {
       <div class="alert alert-danger" role="alert">
  @TempData["MensagemErro"]
</div> 
    }


 <div class="text-left">
       <a role="button"  class="btn btn-primary" asp-action="Criar" asp-controller="Usuario">
            Adicionar Usuario
        </a>

    </div>
    <br />

<table class="table" id="table-usuarios">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Login</th>
      <th scope="col">Senha</th>
      <th scope="col">Perfil</th>
      <th scope="col">Data de cadastro</th>
      <th scope="col">Data de Alteração</th>
       <td></td>
    </tr>
  </thead>
  <tbody>
      
    @if(Model!=null & Model.Any())
    {
        foreach (var usuario in Model)
        {


    <tr>
      <th scope="row">@usuario.Id</th>
      <td>@usuario.Nome</td>
      <td>@usuario.Email</td>
      <td>@usuario.Login</td>
       <td>@usuario.Senha</td>
        <td>@usuario.Perfil</td>
         <td>@usuario.DataCadastro</td>
          <td>@usuario.DataAtualizacao</td>
          <td>  
                            <div class="btn-group" role="group" >
                                <a role="button"  class="btn btn-primary" asp-action="Editar" asp-route-id="@usuario.Id" asp-controller="Usuario">Editar</a>
                                <a  role="button" class="btn btn-danger" asp-action="ApagarConfirmacao" asp-route-id="@usuario.Id" asp-controller="Usuario" >Apagar</a>  
                            </div>
                        </td>
    </tr>

    }
   } 

   
  </tbody>
</table>